html {height: 100%;}

body {
	height: 100%;
	font: 14px/1 'Arial', sans-serif;
	background: #f2f1ef;
	-webkit-font-smoothing: antialiased;
}

ol, ul {list-style: none;}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

a, a:hover {text-decoration: none; color: #fff;}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.container {
	width: 960px;
	margin: 0 auto;
	background: #fff;
}

.left {float: left;}
.right {float: right;}

/*MAIN STYLES*/

.sprite {
	width: 18px;
	height: 18px;
	display: inline-block;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
}

.top-header {
	background: #4f4f4f;
	padding: 11px 0 12px;
}

.top-nav {
	margin-left: 30px;
	margin-top: 4px;
}

.top-nav li {
	display: inline-block;
}

.top-nav li:not(:last-child) {
	margin-right: 26px;
}

.top-nav a {
	font-weight: 50;
	border-bottom: 1px solid #fff;
}

.top-nav a:hover {
	color: #e27d55;
	border-bottom: 0;
}

.cite-search {
	margin-right: 30px;
	position: relative;
}

.cite-search input {
	border: none;
}

.cite-search input[type=search] {
	width: 190px;
	padding: 5px 20px 3px;
	border-radius: 3px;
	background: #eff0f2;
}

.cite-search input[type=submit] {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	right: 0;
	background: url(../img/search.png) no-repeat 0 6px;
	color: red;

}

/*MAIN HEADER*/

.main-header {
	padding: 20px 30px 25px;
	background: #f8f8f8;
	font-size: 13px;
}

.contacts {
	margin-top: 25px;
	margin-left: 50px;
}

.sprite-phone {
	background-position: -75px 0px;
}

.contacts .phone {
	font-size: 20px;
	margin-left: 2px;
}

.contacts .color-red {
	color: #da501a;
}

.sprite-mail {
	background-position: -21px -1px;
	vertical-align: middle;
}

.mail {
	margin-top: 12px;
}

.mail span {
	margin: 0 5px;
}

.underline {
	border-bottom: 1px solid #000;
}

.sprite-icq {
	background-position: -1px -1px;
	margin-left: 12px;
	vertical-align: middle;
}

.order-basket {
	margin-right: 30px;
	margin-top: 20px;
	padding-top: 5px;
	padding-right: 30px;
}

.sprite-shop_cart {
	background-position: -110px -1px;
	vertical-align: bottom;
}

.basket {
	color: #727272;
}

.account {
	margin-top: 14px;
}

.sprite-padlock_closed {
	background-position: -39px -1px;
	vertical-align: middle;
}

/*MAIN SECTION*/
.main-section {
	margin-top: 7px;
	padding: 25px 30px;
	background: #f8f8f8
}

.products li {
	padding: 5px 0 10px;
	background: #f3f2f0;
	margin-bottom: 2px;
	width: 210px;
}

.products a {
	color: #4f4f4f;
	border-bottom: 1px solid #4f4f4f;
	margin-left: 15px;
	margin-bottom: 20px;
}

.inner {
	margin-top: 12px;
	display: none;
}

.visible { display: block; }

.inner li {
	margin: -5px 0;
	background: #fff;

}

.inner li:last-child {
	margin-bottom: -10px;
}

.inner a {
	position: relative;
	margin-left: 25px;
	font-size: 13px;
	color: #8c8c8c;
	border-bottom: 1px solid #8c8c8c;
}

.inner a:before {
	content: '';
	position: absolute;
	width: 12px;
	height: 1px;
	top: 8px;
	left: -16px;
	background: #8c8c8c;
}

.active {
	background: #ed6d3b !important;
}

/*ADVERTICING SECTION*/

.advertising {
	width: 210px;
	margin-top: 20px;
}

.advertising div {
	margin-top: 20px;
}

.advertising span {
	display: block;
	font-size: 12px;
	color: #898989;
}

.advertising a {
	margin-top: 8px;
	display: inline-block;
	color: #4f4f4f;
	border-bottom: 1px solid #4f4f4f;
}

.advertising p {
	margin-top: 6px;
	color: #7d7d7d;
	font-size: 13px;
}

.email-us {
	width: 210px;
	height: 50px;
	background: #ed6d3b;
	padding: 4px 20px;
	border-radius: 3px;
}

.email-us a {
	border: 0;
	font-size: 20px;
	color: #fff;
	position: relative;
}

.email-us a:before {
	content: '';
	position: absolute;
	top: 3px;
	right: -35px;
	width: 16px;
	height: 16px;
	background: url(../img/pencil.png) no-repeat;
	z-index: 10;
}

/*SLIDER SECTION*/

.slider {
	width: 670px;
	height: 285px;
	position: relative;
	overflow: hidden;
}

.slider ul {
	position: relative;
}

.slider li {
	position: relative;
	display: block;
	float: left;
	width: 670px;
}

a.control_prev,
a.control_next {
	position: absolute;
	top: 40%;
	z-index: 999;
	display: block;
	padding: 2% 2%;
	width: auto;
	height: auto;
	background: #2a2a2a;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	opacity: 0.8;
	cursor: pointer;
}

a.control_prev {
	border-radius: 0 2px 2px 0;
}

a.control_next {
	right: 0;
	border-radius: 2px 0 0 2px;
}

.slider-picture {
	width: 670px;
	height: 285px;
	background: #f8f8f8;
	padding: 0 45px;
}

.pic-description {
	width: 290px;
	position: relative;
}

.pic-description:after {
	content: '';
	position: absolute;
	right: -395px;
	top: 0px;
	width: 400px;
	height: 400px;
	background: url(../img/helicopter.png) no-repeat;
}

.pic-description h1 {
	width: 240px;
	margin: 0;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 100;
	line-height: 26px;
	position: relative;
}
.pic-description h1:before {
	content: '';
	position: absolute;
	bottom: -20px;
	width: 265px;
	height: 1px;
	background: #000;
}

.pic-description h1:after {
	content: '';
	position: absolute;
	bottom: -120px;
	left: 0;
	width: 265px;
	height: 1px;
	background: #000;
}


.pic-description span {
	float: left;
	width: 130px;
	height: 20px;
	padding-top: 4px;
	font-size: 13px;
	color: #4f4f4f;
}

.pic-description span:nth-child(even) {
	padding-left: 15px;
}

.pic-description span:nth-child(odd) {
	padding-left: 5px;
}

.pic-description span:nth-child(4n+3),
.pic-description span:nth-child(4n+2) {
	background: #f3f2f0;
}

.pic-price {
	width: 390px;
	margin-top: 30px;
}

.pic-price span:nth-child(1) {
	font-size: 18px;
	color: #717171;
}

.pic-price span:nth-child(2) {
	font-size: 22px;
	margin-left: 9px;
}

.pic-price span:nth-child(3) {
	color: #717171;
	margin-left: 5px;
}

.pic-price span:nth-child(4) {
	display: inline-block;
	width: 103px;
	height: 30px;
	margin-left: 15px;
	margin-top: -4px;
	background: #4f4f4f;
	border-radius: 2px;
	vertical-align: middle;
	padding-top: 9px;
	padding-left: 9px;
	color: #fff;
	font-size: 13px;
	position: relative;
}

.pic-price span:nth-child(4):after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	right: 5px;
	top: 9px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #fff;
}

/*GOODS SECTION*/
.goods-container {
	width: 670px;
	background: #fff;
	padding: 30px 0;
	position: relative;
}

.goods-container:before {
	content: 'Распродажа';
	position: absolute;
	top: 8px;
	left: 14px;
	font-size: 16px;
	text-decoration: underline;
}

.hit-sales:before {
	content: 'Хиты продаж';
	position: absolute;
	top: 8px;
	left: 14px;
	font-size: 16px;
	text-decoration: underline;
}

.goods {
	width: 210px;
	height: 248px;
	text-align: center;
	position: relative;
}

.goods + .goods {
	margin-left: 20px;
}

.price {
	position: absolute;
	bottom: 85px;
	right: 0;
	width: 108px;
	height: 36px;
	background: #4f4f4f;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 24px;
	color: #fff;
	padding-top: 5px;
}

.price i {font-size: 18px; font-style: normal;}

.goods a {
	display: block;
	width: 180px;
	margin: 12px auto 0;
	color: #e27d55;
	font-size: 14px;
	line-height: 20px;
	text-decoration: underline;
}

/*HIT SALES*/

.hit-sales {
	margin-top: 23px;
}

.hit-sales .exeption {
	margin-left: 0;
}

/*REVIEWS SECTION*/
.reviews {
	width: 670px;

}

.reviews h1 {
	color: #4f4f4f;
	font-size: 24px;
	font-weight: normal;
}

.reviews img {
	border: 1px solid #999;
	margin-right: 20px;
}

.reviews a {
	color: #e27d55;
	line-height: 20px;
	text-decoration: underline;
}

.reviews p {
	margin-top: 10px;
	font-size: 13px;
	line-height: 18px;
	color: #4f4f4f;
}

.reviews span {
	display: block;
	margin: 30px 0 20px;
	height: 2px;
	border-bottom: 1px solid #fff;
	background: #efefef;
}

.about-company {
	margin-top: 44px;
}

/*FOOTER SECTION*/

.footer-nav {
	margin-top: 10px;
	background: #f8f8f8;
	padding: 10px 30px;
}

.footer-nav li {
	display: inline-block;
}

.footer-nav li + li {
	margin-left: 30px;
}

.footer-nav a {
	color: #747474;
	text-decoration: underline;
	font-size: 13px;
}

/*BOTTOM FOOTER*/

.bottom-footer {
	padding: 20px 30px 60px;
	background: #f0f0f0;
	font-size: 13px;
	color: #5e5e5e;
}

.addres {
	width: 290px;
	margin-right: 40px;
}

.bottom-footer a { 
	color: #5e5e5e; 
	text-decoration: underline;
}

.middle {
	width: 200px;
}

.middle img + img {
	margin-left: 14px;
}

.made-by {
	text-align: top;
}




